<div align='center'><h2>Exercices Cours Lesson 6</h2></div>

**Importation des librairies**

In [135]:
import pandas as pd

**Chargement des jeu de données**

In [136]:
pop_com = pd.read_csv("population_communes.csv")
pop_dep = pd.read_csv("surface_departements.csv")

A partir des datasets 'population_communes.csv' et 'surface_departements.csv', créer un nouveau dataset qui contient une ligne par département, avec ces colonnes : 
* la somme des "Population municipale" du département
* la somme des "Population totale" du département
* la part (en pourcentage) de la population municipale par rapport à la population totale
* la part (en pourcentage) de la population (municipale) du département au sein de sa région
* la densité de la population (municipale) en nb d'habitants / km2

In [137]:
df = pop_com.groupby(['Code région', 'Code département', 'variable']).sum().reset_index()[['Code département', 'Code région', 'variable', 'value']]

In [138]:
df = pd.pivot_table(df, values = 'value', index = ['Code département', 'Code région'], columns = 'variable')

In [139]:
df.head()

variable                      Population municipale  Population totale
Code département Code région
01               84                          638425             655171
02               32                          536136             549587
03               84                          339384             349336
04               93                          162565             167331
05               93                          141107             146148

In [140]:
df['Part M/T'] = (df['Population municipale'] / df['Population totale'])*100

In [141]:
df.head()

,variable,Population municipale,Population totale,Part M/T
Code département,Code région,,,
01,84,638425,655171,97.444026
02,32,536136,549587,97.552526
03,84,339384,349336,97.151167
04,93,162565,167331,97.151753
05,93,141107,146148,96.550757

In [142]:
pop_region = df.groupby('Code région').transform('sum')['Population municipale']

In [143]:
df['part_R'] = df['Population municipale'] / pop_region

In [144]:
df.head()

,variable,Population municipale,Population totale,Part M/T,part_R
Code département,Code région,,,,
01,84,638425,655171,97.444026,0.080641
02,32,536136,549587,97.552526,0.089254
03,84,339384,349336,97.151167,0.042868
04,93,162565,167331,97.151753,0.032371
05,93,141107,146148,96.550757,0.028098

In [145]:
df = pd.merge(df, pop_dep.rename(columns={'code_insee' : 'Code département'}), on= 'Code département')

In [146]:
df['densite'] = df['Population municipale'] / df['surf_km2']

In [147]:
df = df.drop(['nom', 'surf_km2'], axis = 1)

In [148]:
df.head()

,Code département,Population municipale,Population totale,Part M/T,part_R,densite
0,01,638425,655171,97.444026,0.080641,110.377766
1,02,536136,549587,97.552526,0.089254,72.343274
2,03,339384,349336,97.151167,0.042868,45.993224
3,04,162565,167331,97.151753,0.032371,23.246818
4,05,141107,146148,96.550757,0.028098,24.768650